{% extends 'base1.html' %}
{% block title %}Koduleht{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>


h1 {
  text-align: center;
  color: darkorange;
}

.positsioon {
    padding-left: 30px;
    padding-right: 30px;


}

</style>
	<title>Koduleht</title>
</head>
<body>
<h1><strong>Benjamini koduleht</strong></h1>
	<h3>See on minu lehekülg, mille ma valisin oma projektiks</h3>

	&nbsp;

    <div class="positsioon">
  <h4><font color="gray"> Miks ma valisin selise projekti?</h4>
  </font>
  <ul>
    <li> Programmeerimine on eriala, millest ma olen huvitatud</li>
    <li> Selle projekti eesmärk oli valmistada veebileht </li>
    <li> Veebileht on tehtud HTML, CSS, Javascript, Bootstrap ja Pythoniga (Flask moodul) </li>
    <li> Otsisin veebist igalt poolt informatsiooni kuidas oma soove teostada </li>
    <li> See projekt kindlasti andis mulle kasulikke teadmisi ja oskusi juurde </li>
</ul>

</div>



</body>

</html>
{% endblock %}