{% extends 'base.html' %}
{% block title %}Kasutatud materjal{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>

<style>



</style>

	<title>Kasutatud materjal</title>
</head>

	<body>
		<h1> Kasutatud materjal </h1>
		&nbsp

		<p> https://getbootstrap.com/docs/4.0/components/navbar/ </p>

		<p> https://www.youtube.com/playlist?list=PLzMcBGfZo4-n4vJJybUVV3Un_NFS5EOgX </p>
		<p> https://www.w3schools.com/howto/howto_css_fixed_footer.asp </p>
		<p> https://www.youtube.com/watch?v=rCVqQ8NKU2M </p>
		<p> https://www.youtube.com/watch?v=F_7ZoAQ3aJM </p>


<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;


</body>
</html>

{% endblock %}