{% extends 'base.html' %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kontakt</title>


<style>

strong {
  padding-left: 0px;
  color:
}

.positsioon {
	text-align: center;
}

.map-responsive{
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
	text-align: center;
}

.maps {
	width:%;
	max-width: 100%;
}

p {

}

</style>

</head>
<body>
	<h1>Kontakt</h1>

<div class="positsioon">
<p>
	<strong>Aadress:</strong>
	<br> Eesti
</p>
<p>
	<strong>Telefon:</strong>
	<br> 12345
</p>

<p><iframe class="maps" width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=23.930969238281254%2C59.206173075493126%2C25.216369628906254%2C59.66774058164963&amp;layer=mapnik" style="border: 0px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=10/59.4377/24.5737">Kuvage suuremat kaarti</a></small></p>
&nbsp;
&nbsp;

</body>
</html>
{% endblock %}
