{% extends 'base.html' %}
{% block title %}Video{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Video</title>

<style>



.footer {
   position: fixed;
   left:  0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding: 7px;

}

.suurus {
	text-align: center;
}

.video {
	width:%;
	max-width: 100%;
}


</style>

</head>
<body>
	<h1>Video</h1>


<div class="suurus">
<p> <iframe class="video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/F_7ZoAQ3aJM?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </p>
</div>

&nbsp;

</body>
</html>
{% endblock %}
